.callout-info {
  border-color: #bee5eb;
}

.callout-info h4 {
  color: #0c5460;
}

.hidetext {
  -webkit-text-security: disc;
  /* Default */
}

.buttonCommandWrap,
.tableButton {
  width: 100%;
}

.tableButton tr td:first-child {
  width: 10%;
}

.arg_Text {
  width: 100%;
}

.alert {
  position: relative !important;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem !important;
}

.alert-success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.alert-info {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important;
}

.alert-link {
  color: #002752 !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.alert-link:hover {
  text-decoration: underline !important;
}

.text-white {
    color: #fff!important;
}

.loading {
  opacity: .75;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
